// Import all 3rd party plugins styles
<<<<<<< HEAD
$grid-gutter-width: 30px !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1210px,
) !default;

@import "node_modules/bootstrap/scss/bootstrap";
@import "fontello";
=======
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/brands.scss";
@import "node_modules/bootstrap/scss/bootstrap";
>>>>>>> dec5e9049b0c7ef9468cd79147d873bc7d5d0e0b
