// Import global vars
@import "master";
@import "fonts";

html,
body {
  height: 100%;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  // font-family: "Roboto", sans-serif;

  color: #fff;
  background-color: #000;
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow-x: hidden;
}
.main-content {
  flex: 1 0 auto;
}
.main-footer {
  flex-shrink: 0;
}

img {
  max-width: 100%;
}

p {
  line-height: 150%;
}

.mtp-20 {
  margin-top: 20px;
}
.mtp-50 {
  margin-top: 50px;
}

.mrp-10 {
  margin-right: 10px;
}

.mbp-10 {
  margin-bottom: 10px;
}
.mbp-20 {
  margin-bottom: 20px;
}
.mbp-40 {
  margin-bottom: 40px;
}

.section {
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 130%;
    margin-bottom: 20px;
  }
  &__small-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 130%;
    /* identical to box height, or 12px */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    opacity: 0.4;
  }

  &-hero {
    // position: relative;
    padding-top: 100px;
    min-height: 800px;
    &__composit-title {
      &-container {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        margin-left: 40px;
      }
      &-img {
        &-wrap {
          margin-right: 30px;
        }
      }

      &-1 {
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 100%;
      }
      &-2 {
        font-style: normal;
        font-weight: bold;
        font-size: 82px;
        line-height: 100%;
        /* or 82px */

        letter-spacing: 0.02em;
      }
      &-3 {
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 100%;
      }
    }
    &__subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 150%;

      margin-bottom: 40px;
    }
    &__phones {
      &-wrap {
        position: absolute;
        top: -60px;
        right: 0;
        width: 33.3%;
        padding: 0 15px;
        height: 800px;
      }
      position: relative;
      height: 100%;

      &-item-1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
      &-item-2 {
        position: absolute;
        top: 130px;
        right: -55px;
        z-index: 2;
      }
    }
  }
  &-shows {
    min-height: 550px;
    padding: 40px 0;
  }
  &-player {
    min-height: 480px;
  }
  &-team {
    margin-bottom: 130px;

    &__description {
      margin-bottom: 25px;
    }
    &__carousell {
      margin-bottom: 25px;
    }
  }
  &-footer {
    padding-bottom: 30px;
  }
}

.floating-circle {
  &-1 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    user-select: none;
    pointer-events: none;
  }
  &-2 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 120px;
    user-select: none;
    pointer-events: none;
  }
  &-3 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 800px;
    user-select: none;
    pointer-events: none;
  }
}

.card-section {
  background: #fff;
  color: #000;
  border-radius: 25px;
  padding: 40px;
}

.store-btn {
  background: none;
  border: none;
  outline: none !important;
  padding: 0;
  margin-bottom: 10px;
}

.tag-label {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: rgba(#000000, 0.4);

  padding: 2px 5px;

  background: #fdda40;
  border-radius: 3px;
  margin-right: 10px;
}
.tag-hint {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 9px;
  line-height: 130%;
  /* identical to box height, or 12px */

  letter-spacing: 0.05em;
  text-transform: uppercase;

  opacity: 0.4;
}

.icon-elements {
  display: flex;
  flex-wrap: wrap;
}
.icon-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 70px;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &__i {
    &-wrap {
      margin-bottom: 10px;
    }
    font-size: 24px;
    color: #fff;
  }
  &__text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 140%;
    /* or 13px */

    text-align: center;

    color: #ffffff;

    opacity: 0.5;
  }
}

.play-carousell {
}

.play-card {
  &-wrap {
    max-width: 355px;
    width: 100%;
  }
  width: 100%;
  position: relative;
  filter: drop-shadow(0px 5px 35px rgba(0, 0, 0, 0.35));
  border: 2px solid transparent;
  transition: 400ms;
  border-radius: 20px;
  &:hover {
    border: 2px solid #fdda40;
    filter: drop-shadow(0px 5px 35px #fdda40);
    background-color: #fdda40;
  }

  &__image {
    &-wrap {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      position: relative;
    }
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    &-labels {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
    }
    &-label {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: rgba(#000000, 0.4);

      background: #fdda40;
      border-radius: 3px;
      display: inline-block;
      padding: 2px 5px;
      &:not(:last-child) {
        margin-right: 5px;
      }

      &--hot {
        margin-left: auto;
        color: #ffffff;
        text-transform: uppercase;
        background: #ce1b00;
      }
    }
  }
  &__body {
    border-radius: 20px;
    background: #fff;
    color: #000;
    padding: 20px;

    margin-top: -20px;
    z-index: 1;
    position: relative;

    &-header {
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
    }
    &-meta {
      &-container {
        display: flex;
      }
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: rgba(#000000, 0.6);
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-right: 10px;
      }

      i {
        margin-right: 4px;
      }
    }
    &-director {
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      line-height: 14px;
      &-position {
        color: rgba(0, 0, 0, 0.5);
      }
      &-name {
        text-decoration-line: underline;
        color: #263477;
      }
    }

    &-title {
      font-style: normal;
      font-weight: bold;
      font-size: 19px;
      line-height: 23px;
      color: #000000;
      margin-bottom: 10px;
    }
    &-route {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 130%;
      display: flex;
      justify-content: space-between;

      margin-bottom: 25px;

      &-from,
      &-to {
        display: flex;
        width: calc(50% - 5px);
      }
      &-separator {
        font-size: 10px;
        opacity: 0.5;
        color: #000;
        margin-right: 6px;
        margin-left: 6px;
      }

      &-title {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        color: rgba(0, 0, 0, 0.3);
        margin-right: 4px;
      }
      &-name {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 130%;
        text-decoration-line: underline;
        color: #263477;
      }
    }
  }

  &__btn {
    display: inline-block;
    width: 100%;
    border: 1px solid #1f41e1;
    border-radius: 50px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding: 15px 30px;
    color: #1f41e1 !important;
    text-decoration: none !important;
  }
}

.team-member-card {
  &-wrap {
    max-width: 350px;
    width: 100%;
  }
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;

  display: flex;

  &__image {
    &-wrap {
      width: 70px;
      margin-right: 15px;
      flex: 0 0 auto;
    }

    border-radius: 50%;
  }

  &__body {
    font-family: "Roboto", sans-serif;
    &-name {
      margin-top: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 19px;
      line-height: 130%;
      color: #263477;
    }
    &-position {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 10px;
    }
    &-accolades {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 130%;
      color: rgba(0, 0, 0, 0.7);
      margin-bottom: 15px;
    }
    &-socials {
    }
    &-social-link {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 130%;
      text-decoration-line: underline;
      color: #263477;
      &:hover {
        color: #263477;
      }
    }
  }
}

.plays-swiper-col-wrap {
}
.plays-swiper {
  &-wrap {
    // position: relative;

    position: absolute;
    left: 0;
    width: 100%;
    flex: 0 0 auto;
    max-width: none;

    .swiper-button-next,
    .swiper-button-prev {
      font-weight: bold;
      outline: none !important;
    }

    // .swiper-button-next {
    //   right: -50px;
    // }
    // .swiper-button-prev {
    //   left: -50px;
    // }
  }

  padding-left: 40.3%;

  // .swiper-slide {
  //   padding: 5px 5px;
  // }
}

.team-member {
  margin-bottom: 15px;
  &__position {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    /* or 16px */

    color: rgba(0, 0, 0, 0.5);

    margin-bottom: 0;
  }
  &__name {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    /* or 18px */

    margin-bottom: 0;
  }
}

.footer-title {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 150%;
  margin-bottom: 20px;
}
.footer-contacts {
  margin-bottom: 30px;
}
.footer-contact-btn {
  &-wrap {
    margin-bottom: 20px;
  }
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;

  color: #fff !important;
}
.footer-socials {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 50px;
}
.footer-social-btn {
  &-wrap {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  font-size: 30px;
  color: #fff !important;
}
.footer-copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 0;
}
.footer-dev-copyright {
  display: flex;
  align-items: center;
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.4);
  }
  &__img {
    margin-left: 5px;
  }
}

.footer-phones {
  &-wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: 33.3%;
    padding: 0 15px;
    height: 325px;
  }
  position: relative;
  height: 100%;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
  }

  &-item-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
  &-item-2 {
    position: absolute;
    bottom: 0;
    right: 5px;
    z-index: 1;
  }
}
