@media (min-width: 992px) {
  .mtp-lg-20 {
    margin-top: 20px;
  }
  .mtp-lg-50 {
    margin-top: 50px;
  }

  .mrp-lg-10 {
    margin-right: 10px;
  }

  .mbp-lg-10 {
    margin-bottom: 10px;
  }
  .mbp-lg-20 {
    margin-bottom: 20px;
  }
  .mbp-lg-40 {
    margin-bottom: 40px;
  }
}

@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
